<!DOCTYPE html>
<html>
<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
  <h2>Sky Bill Details</h2>

  <h3>Statement:</h3>
  <%= erb :statement, locals: { statement: bill.statement } %>

  <h3>Package:</h3>
  <%= erb :package, locals: { package: bill.package } %>

  <h3>Call Charges:</h3>
  <%= erb :call_charges, locals: { call_charges: bill.call_charges } %>

  <h3>Sky Store:</h3>
  <%= erb :sky_store, locals: { sky_store: bill.sky_store } %>

  <h3>Total: <%= bill.total %></h3>
  <script src="/js/bootstrap.min.js" />
</body>
</html>
