<h3>Sky Store</h3>
<div class="col-sm-6">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <h4>Rentals</h4>
        <tr>
          <td>Title</td>
          <td>Cost</td>
        </tr>
      </thead>
      <tbody>
        <% sky_store.rentals.each do |rental| %>
          <tr>
            <td><%= rental.title %></td>
            <td>£<%= rental.cost %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="col-sm-6">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <h4>Buy And Keep</h4>
        <tr>
          <td>Title</td>
          <td>Cost</td>
        </tr>
      </thead>
      <tbody>
        <% sky_store.buy_and_keep.each do |buy_and_keep| %>
          <tr>
            <td><%= buy_and_keep.title %></td>
            <td>£<%= buy_and_keep.cost %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="col-sm-6">
  <span style="float: right;">Total</span>
</div>
<div class="col-sm-6">
  <span style="float: right;">£<%= sky_store.total %></span>
</div>
